// ////////////////////////////////////////////////////////////////// Typography
// -----------------------------------------------------------------------------

// -------------------------------------------------------------------- Families
$font_Primary: 'Heebo';
$font_Secondary: 'Manrope';
$font_Code: 'Space Mono';

// --------------------------------------------------------------------- Leading
@function leading($lineHeight, $fontSize) {
  @return math.div(math.round(10 * math.div($lineHeight, $fontSize)), 10);
}

// -------------------------------------------------------------- Letter Spacing
$letterSpacing_Regular: 0.02em;
$letterSpacing_Large: 0.03em;

// ------------------------------------------------------ Typography | Font Size
@mixin fontSize_14 { font-size: 0.875rem; } // fontSize_14 | 14px
@mixin fontSize_16 { font-size: 1rem; } // fontSize_16 | 16px
@mixin fontSize_20 { font-size: 1.25rem; } // fontSize_20 | 20px
@mixin fontSize_24 { font-size: 1.5rem; } // fontSize_24 | 24px
@mixin fontSize_28 { font-size: 1.75rem; } // fontSize_28 | 28px
@mixin fontSize_32 { font-size: 2rem; } // fontSize_32 | 32px


// ---------------------------------------------------- Typography | Font Weight
@mixin fontWeight_Light{ font-weight: 300; }
@mixin fontWeight_Regular { font-weight: 400; }
@mixin fontWeight_Medium { font-weight: 500; }
@mixin fontWeight_Semibold { font-weight: 600 }
@mixin fontWeight_Bold { font-weight: 700 }

// --------------------------------------------------------- Typography | Groups
@mixin h1 {
  @include fontSize_32;
  @include fontWeight_Bold;
  font-family: $font_Primary;
  line-height: leading(48, 32);
}

@mixin h2 {
  @include fontSize_28;
  @include fontWeight_Semibold;
  font-family: $font_Secondary;
  line-height: leading(48, 28);
}

@mixin h3 {
  @include fontSize_24;
  @include fontWeight_Medium;
  font-family: $font_Primary;
  line-height: leading(42, 24);
}

@mixin h4 {
  @include fontSize_20;
  @include fontWeight_Medium;
  font-family: $font_Primary;
  line-height: leading(30, 20);
}

@mixin h5 {
  @include fontSize_16;
  @include fontWeight_Medium;
  font-family: $font_Primary;
  line-height: leading(24, 16);
}

@mixin h6 {
  @include fontSize_14;
  @include fontWeight_Medium;
  font-family: $font_Primary;
  line-height: leading(21, 14);
}

@mixin p1 {
  @include fontSize_20;
  @include fontWeight_Regular;
  font-family: $font_Primary;
  line-height: leading(30, 20);
}

@mixin p1Link {
  @include fontSize_16;
  @include fontWeight_Medium;
  font-family: $font_Primary;
  line-height: leading(30, 20);
  color: $color_Primary;
}

@mixin p2 {
  @include fontSize_14;
  @include fontWeight_Regular;
  font-family: $font_Primary;
  line-height: leading(24, 14);
}

@mixin p2Link{
  @include fontSize_14;
  @include fontWeight_Medium;
  font-family: $font_Primary;
  line-height: leading(20, 14);
}

@mixin caption {
  @include fontSize_16;
  @include fontWeight_Bold;
  font-family: $font_Primary;
  line-height: leading(30, 16);
}
